body {
  margin: 0;
}

.container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

#inputs {
  margin-left: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

#inputs > div {
  display: flex;
  flex-direction: column;
}

main {
  border: 1px dashed black;
}
